.para {
    color: blue;
}

.para-hover {
    color:  green;
}

div {
    height: auto;
    width: 50%;
    border: 15px solid black;
    border-radius: 50px;
    padding: 15px;
    margin: 5px 10px 15px 25px;
    background-color:linear-gradient(to bottom right, green , yellow);

}

div:hover {
    background-color:pink;
}

.para-two {
    margin: 5px;
    padding: 5px;
}
